{% extends 'main.html' %}

{% block content %}

<div class="container">
  <div class="container mt-3" >
    <div class="card" style="background-color: #696d97;">
      <div class="card-header"  style="background-color: #696d97;" >
        <h5 class="text-center" style="color: #fff;" >Voter Registration Form</h5>
      </div>
      <div class="card-body " style="background-color: #3f4156;" >
<form method="post" enctype="multipart/form-data" >
  {% csrf_token %}
  <label style="color: #fff;"for="name">Name:</label>
  <input   class="form-control"  type="text" id="name" name="name" required><br>
  <label style="color: #fff;"for="image">Image:</label>
  <input   class="form-control"  type="file" id="image" name="image" required><br>

  <label style="color: #fff;"for="fname">Father's Name:</label>
  <input   class="form-control"  type="text" id="fname" name="fname" required><br>

  <label style="color: #fff;"for="mname">Mother's Name:</label>
  <input   class="form-control"  type="text" id="mname" name="mname" required><br>

  <label style="color: white;" for="gender">Gender:</label>
  <select id="gender" class="form-control"  name="gender" required>
      <option value="Male">M</option>
      <option value="Female">F</option>
  </select><br>

  <label style="color: #fff;"for="pob">Place of Birth:</label>
  <input   class="form-control"  type="text" id="pob" name="pob" required><br>

  <label style="color: #fff;"for="age">Age:</label>
  <input   class="form-control"  type="number" id="age" name="age" required><br>

  <label style="color: #fff;"for="house_no">House Number:</label>
  <input   class="form-control"  type="text" id="house_no" name="house_no" required><br>

  <label style="color: #fff;"for="flat_name">Flat Name:</label>
  <input   class="form-control"  type="text" id="flat_name" name="flat_name" required><br>

  <label style="color: #fff;"for="locality">Locality:</label>
  <input   class="form-control"  type="text" id="locality" name="locality" required><br>

  <label style="color: #fff;"for="district">District:</label>
  <input   class="form-control"  type="text" id="district" name="district" required><br>

  <label style="color: #fff;"for="pincode">Pincode:</label>
  <input   class="form-control"  type="text" id="pincode" name="pincode" maxlength="6" required><br>

  <label style="color: #fff;"for="aadhar">Aadhar Number:</label>
  <input   class="form-control"  type="text" id="aadhar" name="aadhar" maxlength="12" required><br>

  <input style="color: white;"    class="form-control btn btn-outline-secondary "  type="submit" value="Submit">
</form>
          </div>
</div></div>
</div>


{% endblock %}